$black: #4a4a4a;
$emerald: #019447;
$emeraldLight: #e4f4ec;
$kelleyGreen: #00973d;
$green: #019447;
$greenMedium: #35a238;
$greenLink: #009e0f;
$greenHighlight: #eaf2ef;
$greenLight: #e6f5ed;
$greenTrue: #00ad00;
$grey: #9b9b9b;
$grey2: #dedbd6;
$greyWarm: #979797;
$greyWarm2: #828282;
$greyLight: #eae8e4;
$greyText: #686868;
$greyBackground: #fafafa;
$greyBackground2: #f3f1f0;
$greyBackground3: #f4f3f1;
$greyBackgroundTransparent: rgba(250, 250, 250, 0.75);
$greyHighlight: #d3cec9;
$orange: #f79521;
$squash: #f5a623;
$red: #d0021b;
$brownishGrey: #77675d;
$greyish: #4a4a4a;
$white: #fff;
$navy: #4c66a4;
$darkred: #d0021b;
$brown: #8c6356;
$flash: #d0021b;
$sale: #ea8002;
$normal: #019447;
$promoCodeBackground: #e4f4ec;
$smallGreen: #049549;
$lightgrey: #4c4c4c;
$scarlet: #c90b15;
$pureblack: #000000;
$viridian: #1a9e59;

:export {
  black: $black;
  emerald: $emerald;
  emeraldLight: $emeraldLight;
  kelleyGreen: $kelleyGreen;
  green: $green;
  greenMedium: $greenMedium;
  greenLink: $greenLink;
  greenHighlight: $greenHighlight;
  greenLight: $greenLight;
  greenTrue: $greenTrue;
  grey: $grey;
  grey2: $grey2;
  greyWarm: $greyWarm;
  greyWarm2: $greyWarm2;
  greyLigth: $greyLight;
  greyText: $greyText;
  greyBackground: $greyBackground;
  greyBackground2: $greyBackground2;
  greyBackground3: $greyBackground3;
  greyBackgroundTransparent: $greyBackgroundTransparent;
  greyHighlight: $greyHighlight;
  orange: $orange;
  red: $red;
  brownishGrey: $brownishGrey;
  greyish: $greyish;
  white: $white;
  navy: $navy;
  darkred: $darkred;
  brown: $brown;
  flash: $flash;
  sale: $sale;
  normal: $normal;
  promoCodeBackground: $promoCodeBackground;
}
